name: twenty

services:
  db:
    ports:
      - "5432:5432"

  redis:
    ports:
      - "6379:6379"

  minio:
    ports:
      - "9000:9000"
      - "9001:9001"

  server:
    ports:
      - "3000:3000"
    environment:
      SERVER_URL: http://server:3000

  fundraising-service:
    ports:
      - "4500:4500"
    environment:
      TWENTY_METADATA_BASE_URL: http://server:3000/rest/metadata
      TWENTY_METADATA_GRAPHQL_URL: http://server:3000/metadata
